/*
http://net.tutsplus.com/tutorials/html-css-techniques/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5/
*/

body {
    background-color: rgb(67, 144, 207);
}

.note 
{
    position: absolute;
    top: 0px;
    left: 0px;

    height: 100px;
    width: 150px;

    background:#ffc;

    font-family:"Reenie Beanie",arial,sans-serif;
    font-size: 180%;
    color: black;

    padding: 6px;

   -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
   -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
   box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.note_controls {
    font-size: .7em;
    margin-top: 10px;
}

#note_adder {
    /* Round corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;

    background-color:rgb(57, 76, 180);
    border: 1px solid black;
    opacity: .95;

    position: absolute;
    top: 80%;
    left: 5%;

    height: 65px;
    width:  200px;

    z-index: 1000;
}